
//IO_LOC "IO_adv7513_sda" 			G17;
//IO_LOC "IO_adv7513_scl" 			G16;
//IO_LOC "O_adv7513_data[23]" 		G18;
//IO_LOC "O_adv7513_data[22]" 		H15;
//IO_LOC "O_adv7513_data[21]" 		H17;
//IO_LOC "O_adv7513_data[20]" 		H18;
//IO_LOC "O_adv7513_data[19]" 		J15;
//IO_LOC "O_adv7513_data[18]" 		J16;
//IO_LOC "O_adv7513_data[17]" 		J17;
//IO_LOC "O_adv7513_data[16]" 		K16;
//IO_LOC "O_adv7513_data[15]" 		K17;
//IO_LOC "O_adv7513_data[14]" 		M15;
//IO_LOC "O_adv7513_data[13]" 		M16;
//IO_LOC "O_adv7513_data[12]" 		M17;
//IO_LOC "O_adv7513_data[11]" 		M18;
//IO_LOC "O_adv7513_data[10]" 		M20;
//IO_LOC "O_adv7513_data[9]" 			N18;
//IO_LOC "O_adv7513_data[8]" 			N15;
//IO_LOC "O_adv7513_data[7]" 			N17;
//IO_LOC "O_adv7513_data[6]" 			N19;
//IO_LOC "O_adv7513_data[5]" 			N20;
//IO_LOC "O_adv7513_data[4]" 			P15;
//IO_LOC "O_adv7513_data[3]" 			P16;
//IO_LOC "O_adv7513_data[2]" 			P17;
//IO_LOC "O_adv7513_data[1]" 			P19;
//IO_LOC "O_adv7513_data[0]" 			P20;
//IO_LOC "O_adv7513_de" 				R16;
//IO_LOC "O_adv7513_hs" 				R17;	
//IO_LOC "O_adv7513_vs" 				R18;
//IO_LOC "O_adv7513_clk" 				K18;



//IO_PORT "IO_adv7513_sda" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "IO_adv7513_scl" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[23]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[22]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[21]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[20]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[19]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[18]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[17]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[16]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_de" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_hs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_vs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_PORT "O_adv7513_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;




IO_LOC "O_led[1]" H5;
IO_PORT "O_led[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_led[0]" J5;
IO_PORT "O_led[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "rst_n" H4;
IO_PORT "rst_n" PULL_MODE=NONE DRIVE=OFF;
IO_LOC "clk" F13;
IO_PORT "clk"  PULL_MODE=NONE DRIVE=OFF ;




IO_LOC "O_ddr_ba[2]" U2;
IO_PORT "O_ddr_ba[2]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ba[1]" AB13;
IO_PORT "O_ddr_ba[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ba[0]" V4;
IO_PORT "O_ddr_ba[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[13]" Y11;
IO_PORT "O_ddr_addr[13]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[12]" W12;
IO_PORT "O_ddr_addr[12]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[11]" W11;
IO_PORT "O_ddr_addr[11]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[10]" AB12;
IO_PORT "O_ddr_addr[10]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[9]" AA11;
IO_PORT "O_ddr_addr[9]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[8]" Y14;
IO_PORT "O_ddr_addr[8]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[7]" AB11;
IO_PORT "O_ddr_addr[7]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[6]" Y13;
IO_PORT "O_ddr_addr[6]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[5]" AB10;
IO_PORT "O_ddr_addr[5]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[4]" AA13;
IO_PORT "O_ddr_addr[4]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[3]" Y2;
IO_PORT "O_ddr_addr[3]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[2]" W10;
IO_PORT "O_ddr_addr[2]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[1]" Y12;
IO_PORT "O_ddr_addr[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[0]" AA10;
IO_PORT "O_ddr_addr[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_odt" N2;
IO_PORT "O_ddr_odt" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cke" R1;
IO_PORT "O_ddr_cke" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_we_n" R4;
IO_PORT "O_ddr_we_n" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cas_n" U7;
IO_PORT "O_ddr_cas_n" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ras_n" AA9;
IO_PORT "O_ddr_ras_n" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cs_n" P1;
IO_PORT "O_ddr_cs_n" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_reset_n" P2;
IO_PORT "O_ddr_reset_n" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_clk" V7,W7;
IO_PORT "O_ddr_clk" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_dqm[3]" W1;
IO_PORT "O_ddr_dqm[3]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_dqm[2]" AB5;
IO_PORT "O_ddr_dqm[2]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_dqm[1]" V5;
IO_PORT "O_ddr_dqm[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_dqm[0]" Y9;
IO_PORT "O_ddr_dqm[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[31]" T1;
IO_PORT "IO_ddr_dq[31]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[30]" V3;
IO_PORT "IO_ddr_dq[30]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[29]" T3;
IO_PORT "IO_ddr_dq[29]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[28]" Y1;
IO_PORT "IO_ddr_dq[28]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[27]" U1;
IO_PORT "IO_ddr_dq[27]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[26]" U3;
IO_PORT "IO_ddr_dq[26]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[25]" V2;
IO_PORT "IO_ddr_dq[25]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[24]" W2;
IO_PORT "IO_ddr_dq[24]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[23]" Y4;
IO_PORT "IO_ddr_dq[23]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[22]" AB3;
IO_PORT "IO_ddr_dq[22]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[21]" W4;
IO_PORT "IO_ddr_dq[21]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[20]" AB2;
IO_PORT "IO_ddr_dq[20]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[19]" AA5;
IO_PORT "IO_ddr_dq[19]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[18]" AA1;
IO_PORT "IO_ddr_dq[18]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[17]" AA4;
IO_PORT "IO_ddr_dq[17]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[16]" AB1;
IO_PORT "IO_ddr_dq[16]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[15]" U5;
IO_PORT "IO_ddr_dq[15]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[14]" R6;
IO_PORT "IO_ddr_dq[14]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[13]" AA6;
IO_PORT "IO_ddr_dq[13]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[12]" T6;
IO_PORT "IO_ddr_dq[12]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[11]" T4;
IO_PORT "IO_ddr_dq[11]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[10]" U6;
IO_PORT "IO_ddr_dq[10]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[9]" Y6;
IO_PORT "IO_ddr_dq[9]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[8]" T5;
IO_PORT "IO_ddr_dq[8]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[7]" AA8;
IO_PORT "IO_ddr_dq[7]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[6]" AB6;
IO_PORT "IO_ddr_dq[6]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[5]" V10;
IO_PORT "IO_ddr_dq[5]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[4]" AB8;
IO_PORT "IO_ddr_dq[4]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[3]" W9;
IO_PORT "IO_ddr_dq[3]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[2]" Y7;
IO_PORT "IO_ddr_dq[2]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[1]" Y8;
IO_PORT "IO_ddr_dq[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[0]" AB7;
IO_PORT "IO_ddr_dq[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dqs[3]" R3,R2;
IO_PORT "IO_ddr_dqs[3]" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 DIFF_RESISTOR=ON SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dqs[2]" Y3,AA3;
IO_PORT "IO_ddr_dqs[2]" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 DIFF_RESISTOR=ON SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dqs[1]" W6,W5;
IO_PORT "IO_ddr_dqs[1]" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 DIFF_RESISTOR=ON SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dqs[0]" V9,V8;
IO_PORT "IO_ddr_dqs[0]" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 DIFF_RESISTOR=ON SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;








