
IO_LOC "IO_adv7513_sda" 			G17;
IO_LOC "IO_adv7513_scl" 			G16;
IO_LOC "O_adv7513_data[23]" 		G18;
IO_LOC "O_adv7513_data[22]" 		H15;
IO_LOC "O_adv7513_data[21]" 		H17;
IO_LOC "O_adv7513_data[20]" 		H18;
IO_LOC "O_adv7513_data[19]" 		J15;
IO_LOC "O_adv7513_data[18]" 		J16;
IO_LOC "O_adv7513_data[17]" 		J17;
IO_LOC "O_adv7513_data[16]" 		K16;
IO_LOC "O_adv7513_data[15]" 		K17;
IO_LOC "O_adv7513_data[14]" 		M15;
IO_LOC "O_adv7513_data[13]" 		M16;
IO_LOC "O_adv7513_data[12]" 		M17;
IO_LOC "O_adv7513_data[11]" 		M18;
IO_LOC "O_adv7513_data[10]" 		M20;
IO_LOC "O_adv7513_data[9]" 			N18;
IO_LOC "O_adv7513_data[8]" 			N15;
IO_LOC "O_adv7513_data[7]" 			N17;
IO_LOC "O_adv7513_data[6]" 			N19;
IO_LOC "O_adv7513_data[5]" 			N20;
IO_LOC "O_adv7513_data[4]" 			P15;
IO_LOC "O_adv7513_data[3]" 			P16;
IO_LOC "O_adv7513_data[2]" 			P17;
IO_LOC "O_adv7513_data[1]" 			P19;
IO_LOC "O_adv7513_data[0]" 			P20;
IO_LOC "O_adv7513_de" 				R16;
IO_LOC "O_adv7513_hs" 				R17;	
IO_LOC "O_adv7513_vs" 				R18;
IO_LOC "O_adv7513_clk" 				K18;



IO_PORT "IO_adv7513_sda" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "IO_adv7513_scl" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[23]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[22]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[21]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[20]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[19]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[18]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[17]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[16]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_de" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_hs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_vs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;




IO_LOC "O_led[1]" H5;
IO_PORT "O_led[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_led[0]" J5;
IO_PORT "O_led[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "rst_n" H4;
IO_PORT "rst_n" PULL_MODE=NONE DRIVE=OFF;
IO_LOC "clk" F13;
IO_PORT "clk"  PULL_MODE=NONE DRIVE=OFF ;

